# Configuración JWT (Usa un secreto largo codificado en Base64)
JWT_SECRET=tu_secreto_jwt_super_seguro_codificado_en_base_64
JWT_EXPIRATION=3600000 # 1 hora en milisegundos

# Configuración General DB (Compartida)
DB_USER=tu_usuario_mysql
DB_PASSWORD=tu_contraseña_mysql
DB_HOST=localhost

# Base de Datos - Microservicio AUTH
DB_PORT_AUTH=3306
DB_NAME_AUTH=auth_db

# Base de Datos - Microservicio BACKEND
DB_PORT_BACKEND=3307
DB_NAME_BACKEND=backend_db

# Claves autenticación Google OAuth2 (Opcional, para el login social)
GOOGLE_CLIENT_ID=tu_cliente_id_de_google_aqui.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_cliente_secret_de_google_aqui
