<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">




<header th:fragment="header(currentPage, showBack)" class="app-header">
    <div class="header-container">
        <div class="header-left">
            <a th:if="${showBack}" th:href="@{/web/home}" class="back-link" title="Volver">
                <i data-lucide="arrow-left" class="back-arrow" style="width:20px;"></i>
            </a>
            <img th:src="@{/images/logo-Refugio.png}" class="app-logo">
            <div class="app-brand">
                <span class="app-name" th:text="#{app.name}">Refugio</span>
                <span class="app-subtitle" th:text="#{app.subtitle}">Gestión</span>
            </div>
        </div>
        <nav class="header-right lang-nav">

            
            <div class="dropdown-container">
                <div class="dropdown-trigger user-profile">
                    <div class="avatar">A</div>
                    <span class="user-name" th:text="#{menu.dropdown.title}">Menu</span>
                    <i data-lucide="chevron-down" style="width:16px; height:16px;"></i>
                </div>
                <div class="dropdown-menu">
                    <a th:href="@{/web/personas}" class="dropdown-item">
                        <i data-lucide="users"></i>
                        <span th:text="#{menu.students.card.title}">personas</span>
                    </a>
                    <a th:href="@{/web/voluntarios}" class="dropdown-item">
                        <i data-lucide="heart"></i>
                        <span th:text="#{menu.professors.card.title}">voluntarios</span>
                    </a>
                    <a th:href="@{/web/animales}" class="dropdown-item">
                        <i data-lucide="dog"></i>
                        <span th:text="#{menu.workshops.card.title}">animales</span>
                    </a>
                    <a th:href="@{/web/adopciones}" class="dropdown-item">
                        <i data-lucide="clipboard-check"></i>
                        <span th:text="#{menu.enrollments.card.title}">adopciones</span>
                    </a>
                </div>
            </div>

            <a th:href="@{${currentPage}(lang=es)}" title="Español"
                th:classappend="${#locale.language == 'es'} ? 'active'">🇪🇸</a>
            <a th:href="@{${currentPage}(lang=en)}" title="English"
                th:classappend="${#locale.language == 'en'} ? 'active'">🇬🇧</a>
            <a th:href="@{${currentPage}(lang=ar)}" title="العربية"
                th:classappend="${#locale.language == 'ar'} ? 'active'">🇲🇦</a>
            <a th:href="@{${currentPage}(lang=it)}" title="Italiano"
                th:classappend="${#locale.language == 'it'} ? 'active'">🇮🇹</a>
        </nav>
    </div>
</header>

</html>




