<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="scripts" th:remove="tag">
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            var csrfHeaderAttr = document.querySelector('meta[name="_csrf_header"]');
            var csrfTokenAttr = document.querySelector('meta[name="_csrf"]');
            if (csrfHeaderAttr && csrfTokenAttr && evt.detail.verb !== "get") {
                var headerName = csrfHeaderAttr.getAttribute('content');
                var token = csrfTokenAttr.getAttribute('content');
                if (headerName && token) {
                    evt.detail.headers[headerName] = token;
                }
            }
        });
    </script>
</div>

</html>




