<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="toast">

    <div th:if="${successMessage}" class="toast success">
        <i data-lucide="check-circle" style="width:20px;"></i> <span th:text="${successMessage != null and !successMessage.isEmpty() ? successMessage : #messages.msg('toast.success')}">Operación
            correcta</span>
    </div>

    <div th:if="${errorMessage}" class="toast error">
        <i data-lucide="alert-circle" style="width:20px;"></i> <span th:text="${errorMessage != null and !errorMessage.isEmpty() ? errorMessage : #messages.msg('toast.error')}">Error</span>
    </div>

</div>

</html>




